a {
    text-decoration: none;
}

label.required::after {
    content: " *";
    color: red;
}

.deleted {
    text-decoration: line-through;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}